/* GHOST */
.ghost {
    background-image: -webkit-linear-gradient(45deg, transparent 50%, #af0d12 50%), -webkit-linear-gradient(135deg, transparent 50%, #af0d12 50%), -webkit-linear-gradient(#af0d12 50%, #af0d12 50%);
    background-image: -moz-linear-gradient(45deg, transparent 50%, #af0d12 50%), -moz-linear-gradient(315deg, transparent 50%, #af0d12 50%), -moz-linear-gradient(#af0d12 50%, #af0d12 50%);
    background-image: -o-linear-gradient(45deg, transparent 50%, #af0d12 50%), -o-linear-gradient(135deg, transparent 50%, #af0d12 50%), -o-linear-gradient(#af0d12 50%, #af0d12 50%);
    background-image: -ms-linear-gradient(45deg, transparent 50%, #af0d12 50%), -ms-linear-gradient(135deg, transparent 50%, #af0d12 50%), -ms-linear-gradient(#af0d12 50%, #af0d12 50%);
    background-image: linear-gradient(45deg, transparent 50%, #af0d12 50%), linear-gradient(315deg, transparent 50%, #af0d12 50%), linear-gradient(#af0d12 50%, #af0d12 50%);
    background-position: 50% 100%, 50% 100%, 50% 0;
    background-repeat: repeat-x;

    -webkit-background-size: 1em 1em;
    -moz-background-size: 1em 1em;
    background-size: 1em 1em;
    position: relative;
    /*margin-top: 1.5em;*/
    height: 1.5em;
    width: 3em;
    /*transform: scale(1.8,1.8);*/
    margin: 20px auto;

}

.ghost:after,.ghost:before {
    background-image: -webkit-radial-gradient(transparent 35%, #af0d12 35%);
    background-image: -moz-radial-gradient(transparent 35%, #af0d12 35%);
    background-image: -o-radial-gradient(transparent 35%, #af0d12 35%);
    background-image: -ms-radial-gradient(transparent 35%, #af0d12 35%);
    background-image: radial-gradient(transparent 35%, #af0d12 35%);
    border-top: .5em solid #af0d12;
    content: '';
    height: 1em;
    position: absolute;
    top: -1.5em;
    width: 1em;
}

.ghost:after {
    background-position: 75% 75%;
    border-left: .5em solid #af0d12;
    border-radius: 3em 0 0 0;
    left: 0;
}

.ghost:before {
    background-position: 0% 100%;
    border-right: .5em solid #af0d12;
    border-radius: 0 3em 0 0;
    right: 0;
}



.bokeh {
    font-size: 100px;
    width: 1em;
    height: 1em;
    position: relative;
    margin: 15px auto;
    border-radius: 50%;
    border: .02em solid rgba(150, 150, 150, 0.1);
    list-style: none;
    box-sizing: border-box;
}

.bokeh li {
    position: absolute;
    width: .2em;
    height: .2em;
    border-radius: 50%;
}

.bokeh li:nth-child(1) {
    left: 50%;
    top: 0;
    margin: 0 0 0 -.1em;
    background: #00C176;
    -webkit-transform-origin: 50% 250%;
    transform-origin: 50% 250%;
    -webkit-animation: rota 1.13s linear infinite, opa 3.67s ease-in-out infinite alternate;
    animation: rota 1.13s linear infinite, opa 3.67s ease-in-out infinite alternate;
}

.bokeh li:nth-child(2) {
    top: 50%;
    right: 0;
    margin: -.1em 0 0 0;
    background: #FF003C;
    -webkit-transform-origin: -150% 50%;
    transform-origin: -150% 50%;
    -webkit-animation: rota 1.86s linear infinite, opa 4.29s ease-in-out infinite alternate;
    animation: rota 1.86s linear infinite, opa 4.29s ease-in-out infinite alternate;
}

.bokeh li:nth-child(3) {
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: #FABE28;
    -webkit-transform-origin: 50% -150%;
    transform-origin: 50% -150%;
    -webkit-animation: rota 1.45s linear infinite, opa 5.12s ease-in-out infinite alternate;
    animation: rota 1.45s linear infinite, opa 5.12s ease-in-out infinite alternate;
}

.bokeh li:nth-child(4) {
    top: 50%;
    left: 0;
    margin: -.1em 0 0 0;
    background: #88C100;
    -webkit-transform-origin: 250% 50%;
    transform-origin: 250% 50%;
    -webkit-animation: rota 1.72s linear infinite, opa 5.25s ease-in-out infinite alternate;
    animation: rota 1.72s linear infinite, opa 5.25s ease-in-out infinite alternate;
}

@-webkit-keyframes rota {
    from {
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rota {
    from {
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes opa {
    0% {
    }
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}

@keyframes opa {
    0% {
    }
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}